<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6N8kKSSK27vyhQoExtfHSVewecd-7Rxo</string>
	<key>GCM_SENDER_ID</key>
	<string>208866748817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healtify</string>
	<key>PROJECT_ID</key>
	<string>blackoffer-9f348</string>
	<key>STORAGE_BUCKET</key>
	<string>blackoffer-9f348.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208866748817:ios:a31c3c9fc5916148edd230</string>
</dict>
</plist>